body {
    background: linear-gradient(to bottom, #CBCBD4 0%, #ffffcc 100%);
    /* background: #bebec1; */
}

h1, p {
    font-family: "monospace";
    /* color: #FFFFFF */
}


.jumbotron{
    margin-top: 20px;
    border-radius: 25px;
    background-color: #fdfad3;
    /* background-color: #b4ce43 */
}

.bubble-row {
    margin-top: 20px;
    margin-bottom: 40px;
}

.color1 {color: #e31742;}
.color2 {color: #e36315;}
.color3 {color: #e3a615;}
.color4 {color: #dbdc6c;}
.color5 {color: #d1efb8;}